*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    color: #000;
    padding: 0 50px;
}
nav{
    display: flex;
    padding: 0 200px;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 65px;
}
#logo{
    width: 40px;
}
li a{
    color: #000;
    margin-right: 10px;
    
}
a{
     text-decoration: none;
     color: #000;
     font-size: 0.9em;
     font-weight: 600;
}
a:hover{
     color: #4a5534;
     font-size: 1em;
     transition: 0.4s all;
     text-decoration-line: underline;
     
}
#cta{
    width: 150px;
    height: 55px;
    border: none;
    color: #fff;
    background: #4a5534;
    font-size: 1.2em;
    border-radius: 5px;
}
ul{
    list-style: none;
    display: inline-block;
}
li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
#socials{
    display: flex;
}
.social{
    margin: 0 10px;
    width: 20px;
}
header{
    padding: 0 60px;
    
}
#left-side{
    width: 700px;
    height: 800px;
    margin-right: 10px;
    color:#000;
    padding: 110px 30px;
}
#right-side{
    width: 900px;
    height: 800px;
    background: #4a5534;
    justify-content: center;
    align-content: end;
    border-radius: 10px;
   
}
#left-side p{
    margin: 40px 0;
}
#left-side h2{
    margin-bottom: 40px;
    font-size: 2em;
    font-weight: 600;
}

.fed{
    font-size: 6em;
    font-weight: 700;
    margin: -55px 0;
    color:#4a5534;
}
#gd{
    font-size: 3.5em;
    font-weight: 600;
    margin-top: 0.7em;
    color: #3e3e3e;
}
#eezy{
    width: 850px;
    margin-top: 44px;
}

#content{
    display: flex;
    justify-content: center;
}

#about{
    margin-top: 50px;
    width: 92.5%;
    min-height: 500px;
    background: #181818;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    padding: 50px;
    border-radius: 10px;
}
#about-image{
    width: 500px;
    height: 500px;
    background: url(../assets/images/About-image.jpeg);
    background-position: center;
    background-size: cover;
    margin-right: 100px;
    justify-content: end;
    border-radius: 10px;
}
#about-description{
    width: 700px;
    height: 500px;
    padding: 35px;
    color: #fff;
}
#about-description h1{
    color:#fff;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 1em;

}
#tools{
    margin-top: 40px;
}
.skill{
    width: 38px;
    opacity: 0.4;
    margin: 0 10px;
    color: #fff;
}
#square{
    width: 80px;
    height: 80px;
    background: #4a5534;
    border: none;
    border-radius: 3px;
    
   
}
#square img{
    width: 45px;
}

#projects{
    width: 92.5%;
    min-height: 600px;

}

#tools{
    max-width: 480px;
    height: 70px;
    background-color: #262626de;
    border-radius: 10px;
    border: 0.9px solid #ffffff23;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0 20px;
    box-shadow: 5px 5px 5px #00000024;
}